$lightgrey: #e3e3e3;
$darkgrey: #c9c9c9;
$darkest: #3d464d;
$blue: #2e9fff;
$darkblue: #89bdd3;
$red: #CF3934;

@mixin light-shadow {
  @include box-shadow(0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24))
}

@mixin medium-shadow {
  // @include box-shadow(0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23))
  // @include box-shadow(rgba(65,65,65, 0.4), 5px, -5px, 0);
  @include box-shadow(rgba(180,180,180, 0.6) 5px 5px);
}

@mixin heavy-shadow() {
  @include box-shadow($darkest -4px 4px 0px);
}

@mixin light-border {
  border: 2px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  @include border-radius(3px);
}

@mixin dark-border {
  border: 2px solid;
  border-color: $darkest #d0d1d5;
  @include border-radius(3px);
}

@mixin selected-outline {
  ouline: 2px solid;
  outline-color: darken(#e5e6e9, 8%) darken(#dfe0e4, 8%) darken(#d0d1d5, 8%);
}

@mixin ease($property, $duration) {
  @include transition-property($property);
  @include transition-duration($duration);
  @include transition-timing-function(cubic-bezier(0.33, 0.66, 0.66, 1));
}

@mixin find($color) {
  outline: 4px dotted $color;
}

// Media Query mixins
$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin retina {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}


@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 45%)) {
  // For Google Chrome
  // overflow-y: scroll;
  ::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  ::-webkit-scrollbar-thumb {
      background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
      background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
    overflow-y: scroll;
  }
}