@font-face {
  font-family: Inconsolata;
  src: url("Inconsolata-Regular.ttf");
}

@font-face {
  font-family: Inconsolata-Bold;
  src: url("Inconsolata-Bold.ttf");
}

body {
  font-family: Inconsolata, monospace;
}

h1 {
  font-size: 1.5em;
  font-family: Inconsolata-Bold;
}

span {
  font-family: Inconsolata; 
}

a {
  color: #F29098;
}
a:hover {
  color: #838399;
}

ul {
  padding-left: 1em;
  list-style-position: inside;
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.name {
  font-family: helvetica, sans-serif;
  font-size: 3.1em;
}

.blocks {
  display: inline-block;
}

.block {
  float: left;
  margin-right: 0.5rem;
  width: 25px;
  height: 25px;
}

.block:nth-child(1) {
  background-color: #838399;
}
.block:nth-child(2) {
  background-color: #F29098;
}
.block:nth-child(3) {
  background-color: #F8CBC3;
}
.block:nth-child(4) {
  background-color: #F5E8D5;
}

@media (max-width: 575px) {
  .tags {
    margin-bottom: 0.5rem;
  }
}