@font-face {
  font-family: josefin;
  src: url("/Users/scotthurlow/code/scotthurlowdotcom/JosefinSans-Light.ttf");
}

body {
  margin: 0;
}

h1 {
  font-family: josefin;
}

.bg {
  display: flex;
}

.logo {
  /*padding: 50px;*/
  position: fixed;
  /*top: 50px;*/
  /*left: 50px;*/
  /*width: 500px;*/
  /*height: 500px;*/
}

.panel {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*.left {
  float: left;
  width: 50%;
  height: 100vh;
  min-height: 100vh;
  border: 1px black dotted;
  background: black;
  color: white;
}*/

/*.right {
  float: left;
  width: 50%;
  height: 100vh;
  min-height: 100vh;
}
*/
ul {
  list-style-type: none;
  padding-left:0;
  width: 100%;
}

ul li {
  border: 2px solid blue;
  height: 500px;
}

ul div:nth-child(2) {
  /*background-color: #EDBC74;*/
}
ul div:nth-child(3) {
  /*background-color: #9196A1;*/
}